body {
    
    font-family: 'Volkhov', serif;
  }
  
  .navbar {
    overflow: hidden;
    
  }
  .jumbotron {
    
    font-size: 21px;
    padding-top: 6rem;
    background-color: #a2d9ff;
    overflow: hidden;
  }
  
  
  #contact {
    
    background-color: #ce95e9;
    overflow: hidden;
  }
  
  #footer {
    
    background-color: #212529;
    font-size: 20px;
    color: #a2d9ff;
  }
  
  section {
    padding-top: 5rem;
  }
  